.box {
    background-color: aqua;
    color: black;
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

hr {
    margin: 20px 20px 0px 20px;
    opacity: 0.7;
}

.container {
    display: flex;
    justify-content: center;
}

#bb {
    justify-self: right;
}