.divider {
  height: 0.5px;
  margin-top: 12px;
  margin-bottom: 15px;
  background-color: $color-grey-text;
  opacity: 0.2;
  // z-index: -100;
}

.emptyDiv {
  display: none;
}
.linkSVG {
  margin-top: 5px;
  margin-right: 7px;
  height: 20px;
  width: 20px;

  filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg)
    brightness(90%) contrast(82%);
  &:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
      brightness(102%) contrast(102%);
  }
}

.blue {
  background-color: $btn-blue;
  &:hover {
    background-color: $btn-blue-hover !important;
    transition: all 0.1s ease-in-out;
  }
}

.green {
  background-color: $btn-green;
  &:hover {
    background-color: $btn-green-hover !important;
    transition: all 0.1s ease-in-out;
  }
}

.grey {
  background-color: $btn-grey;
  &:hover {
    background-color: $btn-grey-hover !important;
    transition: all 0.1s ease-in-out;
  }
}

.grey-text {
  color: $color-grey-text;
}

.smallHeaderText {
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
}

.bold-500 {
  font-weight: 500;
}

.white {
  color: white;
}
