$btn-blue: #5865f2;
$btn-grey: #4d5057;
$btn-green: #258047;
$btn-blue-hover: #4752c4;
$btn-grey-hover: #42444a;
$btn-green-hover: #1a6334;
$color-grey-1: #313338;
$color-grey-2: #232428;
$color-grey-3: #1e1f22;
$color-grey-4: #111214;
$color-grey-5: #111214;
$color-grey-bg: #2b2d31;
$color-greyPurple-1: #ac70ff17;
$border-radius: 9px;
$color-grey-text: #b5bac1;
$border-grey: #b5bac14a;
