@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;200;300;600;700;800&display=swap");
.divider {
  height: 0.5px;
  margin-top: 12px;
  margin-bottom: 15px;
  background-color: #b5bac1;
  opacity: 0.2;
}

.emptyDiv {
  display: none;
}

.linkSVG {
  margin-top: 5px;
  margin-right: 7px;
  height: 20px;
  width: 20px;
  filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(90%) contrast(82%);
}
.linkSVG:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.profileContainer {
  z-index: 1;
  position: relative;
  background-color: #1e1f22;
  overflow: hidden;
  width: 600px;
  color: white;
  border-radius: 9px;
  margin: auto auto;
}
.profileContainer .header {
  padding: 74px 16px 12px 16px;
}
.profileContainer .banner {
  aspect-ratio: 9/3;
  background-color: #000000;
}

.avatar {
  background-color: #1e1f22;
  padding: 5px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 125px;
  left: 16px;
}
.avatar img {
  width: 120px;
  border-radius: 50%;
}

.status {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  position: absolute;
  background-color: #1e1f22;
  bottom: 14.64%;
  right: 14.64%;
  border-radius: 50%;
  padding: 6px;
}
.status img {
  width: 24px;
}

.aboutCard {
  width: 100%;
  background-color: #111214;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 15px;
}
.aboutCard .tag {
  font-size: 18px;
}
.aboutCard .tag .discriminator {
  color: #b5bac1;
}
.aboutCard .statusText {
  color: #b5bac1;
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
}
.aboutCard .aboutMeContainer .aboutMeHeading {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutCard .aboutMeContainer .aboutMeContent {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 200;
  white-space: pre-wrap;
}
.aboutCard .aboutMeContainer .noteContainer {
  padding-top: 17px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutCard .aboutMeContainer .form {
  padding-top: 13px;
  background-color: transparent;
  border: none;
  color: white;
}
.aboutCard .aboutMeContainer .form:focus {
  outline: none;
}
.aboutCard .aboutScroll {
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.aboutCard .aboutScroll::-webkit-scrollbar {
  display: none;
}
.aboutCard .aboutScroll .aboutMain {
  width: 100%;
}
.aboutCard .aboutScroll .connectionContainer {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 14px;
  row-gap: 14px;
}
.aboutCard .aboutScroll .connectionContainer .connectionCard {
  display: flex;
  height: 49px;
  width: 99%;
  border: 0.5px solid rgba(181, 186, 193, 0.2901960784);
  border-radius: 2px;
  align-items: center;
}
.aboutCard .aboutScroll .connectionContainer .connectionCard .connectionImage {
  margin-left: 7px;
  height: 25px;
  width: 25px;
}
.aboutCard .aboutScroll .connectionContainer .connectionCard .connectionName {
  margin-left: 10px;
  flex-grow: 1;
}
.aboutCard .noteContainerNon {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutCard .formNon {
  padding-top: 13px;
  background-color: transparent;
  border: none;
  color: white;
}
.aboutCard .formNon:focus {
  outline: none;
}

.formContainer {
  margin: auto auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", "Open Sans", sans-serif;
  background-color: #313338;
}

.container {
  width: 100%;
  display: flex;
}/*# sourceMappingURL=style.css.map */