@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
.divider {
  height: 0.5px;
  margin-top: 12px;
  margin-bottom: 15px;
  background-color: #b5bac1;
  opacity: 0.2;
}

.emptyDiv {
  display: none;
}

.linkSVG {
  margin-top: 5px;
  margin-right: 7px;
  height: 20px;
  width: 20px;
  filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(90%) contrast(82%);
}
.linkSVG:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.caretSVG {
  margin-top: 2px;
  height: 20px;
  width: 20px;
  transition: transform 0.3s ease-in-out;
  -webkit-user-drag: none;
  filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(90%) contrast(82%);
}
.caretSVG:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.tickSVG {
  color: #5865f2;
}

.dropdownItemSVG {
  height: 20px;
  width: 20px;
}

.rotate0 {
  transform: rotate(90deg);
}

.rotate-90 {
  transform: rotate(0deg);
}

.blue {
  background-color: #5865f2;
}
.blue:hover {
  background-color: #4752c4 !important;
  transition: all 0.1s ease-in-out;
}

.green {
  background-color: #258047;
}
.green:hover {
  background-color: #1a6334 !important;
  transition: all 0.1s ease-in-out;
}

.grey {
  background-color: #4d5057;
}
.grey:hover {
  background-color: #42444a !important;
  transition: all 0.1s ease-in-out;
}

.grey-text {
  color: #b5bac1;
}

.smallHeaderText {
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
}

.bold-500 {
  font-weight: 500;
}

.white {
  color: white;
}

.popupContainer {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.271);
  padding: 10px;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in-out;
}

.popup {
  margin-top: 45vh;
  margin-bottom: 50vh;
  margin-left: 45vw;
  margin-right: 50vw;
  background-color: #111214;
  height: 100px;
  width: 100px;
}

.popup p {
  color: white;
}

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ccc;
  text-decoration: none;
}

.profileContainer {
  z-index: 1;
  position: relative;
  background-color: #1e1f22;
  overflow: hidden;
  width: 600px;
  color: white;
  border-radius: 9px;
  margin-top: 5vh;
  border: 5px solid black;
}
.profileContainer .header {
  padding: 74px 16px 12px 16px;
}
.profileContainer .banner {
  aspect-ratio: 9/3;
  background-color: #000000;
}

.avatar {
  background-color: #1e1f22;
  padding: 5px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 125px;
  left: 16px;
}
.avatar img {
  width: 120px;
  border-radius: 50%;
}
.avatar .avatarPhoto {
  filter: invert(70%);
}

.status {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  position: absolute;
  background-color: #1e1f22;
  bottom: 14.64%;
  right: 14.64%;
  border-radius: 50%;
  padding: 6px;
}
.status img {
  width: 24px;
}

.aboutCard {
  width: 100%;
  background-color: #111214;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 15px;
}
.aboutCard .tag {
  font-size: 18px;
}
.aboutCard .tag .discriminator {
  color: #b5bac1;
}
.aboutCard .statusText {
  color: #b5bac1;
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
}
.aboutCard .aboutMeContainer .aboutMeContent {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 400;
  white-space: pre-wrap;
}
.aboutCard .aboutMeContainer .noteContainer {
  padding-top: 17px;
}
.aboutCard .aboutMeContainer .form {
  padding-top: 13px;
  background-color: transparent;
  border: none;
  color: white;
}
.aboutCard .aboutMeContainer .form:focus {
  outline: none;
}
.aboutCard .aboutScroll {
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.aboutCard .aboutScroll::-webkit-scrollbar {
  display: none;
}
.aboutCard .aboutScroll .aboutMain {
  width: 100%;
}
.aboutCard .aboutScroll .connectionContainer {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 14px;
  row-gap: 14px;
}
.aboutCard .aboutScroll .connectionContainer .connectionCard {
  display: flex;
  height: 49px;
  width: 99%;
  border: 0.5px solid rgba(181, 186, 193, 0.2901960784);
  border-radius: 2px;
  align-items: center;
}
.aboutCard .aboutScroll .connectionContainer .connectionCard .connectionImage {
  margin-left: 7px;
  height: 25px;
  width: 25px;
}
.aboutCard .aboutScroll .connectionContainer .connectionCard .connectionName {
  margin-left: 10px;
  flex-grow: 1;
}
.aboutCard .noteContainerNon {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutCard .formNon {
  padding-top: 13px;
  background-color: transparent;
  border: none;
  color: white;
}
.aboutCard .formNon:focus {
  outline: none;
}

.formCard {
  padding: 10px;
  height: 500px;
  width: 350px;
  background-color: #1e1f22;
  border-radius: 10px;
}

.formButton {
  color: white;
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  font-size: 13px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}

.colorPickerContainer {
  display: flex;
}

.primaryPickerButton {
  margin: 13px;
  margin-left: 0;
}

.accentPickerButton {
  margin: 13px;
  margin-left: 0;
}

.colorPickerText {
  margin-top: 3px;
  font-size: 10px;
  text-align: center;
  color: #b5bac1;
}

.profileBannerContainer {
  font-weight: 600;
  margin-bottom: 15px;
}

.profileBannerButton {
  margin: 10px 10px 10px auto;
}
.profileBannerButton Button {
  font-weight: medium;
}

.profileAvatarContainer {
  font-weight: 600;
  margin-bottom: 15px;
}

.profileAvatarButton {
  margin: 10px 10px 10px auto;
}
.profileAvatarButton Button {
  font-weight: medium;
}

.changeStatusContainer {
  font-weight: 600;
  margin-bottom: 15px;
}

.changeStatusButton {
  margin: 10px 10px 10px auto;
}
.changeStatusButton Button {
  font-weight: medium;
}

.chrome-picker {
  border-radius: 10px !important;
  background-color: #313338 !important;
  position: fixed !important;
  z-index: 1;
}

label {
  font-family: "Mulish", "Open Sans", sans-serif !important;
  font-weight: 600 !important;
}

.flexbox-fix + div div svg {
  background-color: #111214 !important;
}

#rc-editable-input-2,
#rc-editable-input-16,
#rc-editable-input-18,
#rc-editable-input-20,
#rc-editable-input-22,
#rc-editable-input-24,
#rc-editable-input-26 {
  border-radius: 4px !important;
}

.colorPickerButton {
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 5px;
  display: block;
}

.dropdownButton {
  height: 50px;
  width: 100%;
  margin-top: 13px;
  border: 1px solid rgba(181, 186, 193, 0.2901960784);
  border-radius: 10px;
  background-color: #111214;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.dropdownButton:hover {
  background-color: #232428;
}

.dropdownText {
  flex-grow: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #b5bac1;
  font-size: 14px;
  opacity: 0.5;
}

.dropdownItemText {
  box-sizing: border-box;
  padding: 14px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  flex-grow: 1;
}

.dropdownItemContainer {
  box-sizing: border-box;
  padding: 13px;
  appearance: none;
  color: white;
  height: 45px;
  transition: all 0.1s ease-out;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.dropdownItemContainer:hover {
  background-color: #1e1f22;
}

.dropdownMenu {
  height: 700px;
  overflow-y: scroll;
  background-color: #232428;
  border-radius: 5px;
}
.dropdownMenu::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", "Open Sans", sans-serif;
  background-color: #313338;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}/*# sourceMappingURL=style.css.map */