@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;200;300;600;700;800&display=swap");
@import "variables";
@import "utility";
@import "profileHeader";
@import "profileMain";
@import "formMain";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", "Open Sans", sans-serif;
  background-color: $color-grey-1;
}

.container {
  width: 100%;
  display: flex;
}
